// main 

.main-content {
    // border:2px dotted blue;
    background:url('../img/background.jpg');
    background-size:cover;
    height:700px;
    z-index:2;
}


// secondary 

.secondary-content {
    border:2px dotted green;
    height:600px;
}