.button-orange {
    background:linear-gradient(to right, $button-1, $button-2);
    color:white;
    @include border-radius(50px);
    padding:12px 45px 12px 45px;
    font-size:14px;
    border:0px solid transparent;
}

.button-orange:hover {
    color:$button-2;
    background:white;
    padding:10px 43px 10px 43px;
    border:2px solid $button-2;
}
