.button-orange {
    background:linear-gradient(to right, $button-1, $button-2);
    color:white;
    @include border-radius(50px);
    padding:12px 45px 12px 45px;
    font-size:14px;
    border:0px solid transparent;
}

// .form-submit {
//     position:relative;
//     width:200px;
// }

.button-orange:hover {
    color:$button-2;
    background:white;
    padding:10px 43px 10px 43px;
    border:2px solid $button-2;
}

// .btn-behind {
//     position:absolute;
//     top:-3px;
//     left:-3px;
//     right:10px;
//     width:150px;
//     background:linear-gradient(to right, $button-1, $button-2);
//     color:white;
//     @include border-radius(50px);
//     padding: 10px 43px 10px 43px;
//     font-size:14px;
//     opacity:0;
// }