/* homepage */

// content 
.card-product {
    width:24%;
    position:relative;
    z-index:1;
}
.card-first {
    border-radius:10px!important;
}

// badge
.card-badge {
    position:absolute;
    z-index:3;
    width:100px;
    right:7%;
}

/* product page */

// .product-page {
//     width:24%;
// }

@media (min-width:992px) and (max-width:1199px) {
    p, .button-orange.button-orange-cards {
        font-size:10px!important;
    }
}

// tablet 
@media (max-width:992px)
{ 
    /* homepage */

    //content 
    .card-product {
        display:none;
    }
    // card product
    .card-product:nth-child(1),
    .card-product:nth-child(2),
    .product-page
    {
        width:48%;
        display:block;
    }
    .card-product:nth-child(3),
    .card-product:nth-child(4)
    {
        display:none;
    }
}

@media (max-width:768px)
{
    /* homepage */

    //content 
    .card-product:nth-child(2) {
        display:none;
    }
    .card-product:first-child {
        width:90%;
        display:block;
        margin:auto!important;
    }
    .card-first {
        border-radius:20px!important;
    }
}

// mobile 
@media (max-width:576px)
{
    //content 
    .card-product:nth-child(2) {
        display:none;
    }
    .card-product:first-child {
        width:90%;
        display:block;
        margin:auto;
    }

    // .product-page {
    //     width:100%!important;
    //     margin:0px!important;
    // }
}