/* homepage */

// content 
.card-product {
    width:24%;
    position:relative;
    z-index:1;
}
.card-first {
    border-radius:10px!important;
}

// badge
.card-badge {
    position:absolute;
    z-index:3;
    width:100px;
    right:7%;
}

// click on card (shop page)
.card-box {
    position:relative!important;
}

.card-hover {
    cursor:pointer;
    transition:0s ease-in-out;
    background:white!important;
}

.focus {
    transform:scale(1.1)!important;
    position:absolute;
    z-index:999!important;
    transition:0.3s ease-in-out;
    & p {
        font-size:16px;
    }
    & .button-orange-cards {
        font-size:15px!important;
        max-width:190px!important;
        padding:8px 45px 8px 45px!important;
        &:hover {
            padding:7px 44px 7px 44px!important;
        }
    }
    & span.strong-pink {
        font-size:20px!important;
    }
}

.info-plus {
    height:0px;
    overflow:hidden;
}

#div-over {
    // border:2px solid red;
    position:absolute;
    width:100%;
    z-index:999;
    height:100%;
}   

@media (min-width:992px) and (max-width:1199px) {
    p, .button-orange.button-orange-cards {
        font-size:10px!important;
    }
}

// tablet 
@media (max-width:992px)
{ 
    /* homepage */

    //content 
    .card-product {
        display:none;
    }
    // card product
    .card-product:nth-child(1),
    .card-product:nth-child(2),
    .product-page
    {
        width:48%;
        display:block;
    }
    .card-product:nth-child(3),
    .card-product:nth-child(4)
    {
        display:none;
    }
}

// mobile 
@media (max-width:576px)
{
    //content 
    .card-product:nth-child(2) {
        display:none;
    }
    .card-product:first-child {
        width:90%;
        display:block;
        margin:auto;
    }
}

