#cart-popup-window {
    display:none!important;
}
#cart-popup-window.active {
    display:block!important;
}
.cart-pop {
    width:200px;
    height:auto;
    // position:fixed;
    position:absolute;
    z-index:1030;
    right:1.5%;
    // right:3%;
    // top:100px;
    top:65px;
    box-shadow:0px 4px 12px 5px rgba(167, 28, 28, 0.21) !important;
    border-radius:10px;
    &__arrow {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent white transparent;
        position:relative;top:-15px;
    }
    &__head {
        border-bottom:0.05em solid #E6E6E6;
    }
    &__body {
        & img {
            max-width:50px!important;
        }
    }
}

// shop breadcumb 

ol {
    display: flex;
    padding: 30px 15px 15px;
    margin-bottom: 20px;
    list-style-type: none;
    min-width:100%;
    margin:auto;
}

ol > li.lasts-child {
    text-align: center;
    line-height: 3em;
    border-top: 1px solid black;
    font-size: 20px;
    min-height: 60px;
    width: 100%!important;
    margin-top: 30px;
}

ol > li.lasts-child a {
    font-family:$black!important;
}

ol > li.lasts-child a:hover {
    color:black!important;
}

// drop 
.lasts-child::before {
    font-size: 5px;
    position: relative;
    top: -1em;
    float: left;
    left: 50%;
    line-height: 1em;
    margin-left: -1em;
    font-family: FontAwesome;
    content: "";
    color: #272727;
    background-color: #272727;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
    height: 2em;
    width: 2em;
    line-height: 1em;
    border: .5em solid #272727;
    border-radius: 2em;
}

.lasts-child.active::before {
    color:  $pink ;
    background-color:  $pink ;
    border: .5em solid $pink ;
}

.lasts-child.active a {
    color:  $pink ;
    font-size:25px;
    &:hover {
        color: $pink!important;
    }
}

@media (min-width:1100px) and (max-width:1300px) 
{
    .cart-pop {
        &__arrow {
            position:relative!important;
            left:15px!important;
        }
    }
}

@media (min-width:992px) and (max-width:1100px) 
{
    .cart-pop {
        &__arrow {
            position:relative!important;
            left:23px!important;
        }
    }
}

@media (max-width:992px) 
{
    .cart-pop {
        &__arrow {
            position:relative!important;
            left:35px!important;
        }
    }
}

// @include media-breakpoint-up(xl) {
    
// }