// cookies 
.cookies {
    position:fixed;
    left:0px;
    bottom:0px;
    z-index:9999;
    border-top-right-radius:5px;
    box-shadow: 4px -3px 8px -7px rgba(0, 0, 0, 0.75);
    // provisoire
    display:none;
}