// cookies 
.cookies {
    position:fixed;
    left:0px;
    bottom:0px;
    z-index:100000;
    border-top-right-radius:5px;
    box-shadow: 5px -1px 9px -7px rgba(0, 0, 0, 0.75);
    // provisoire
    display:block;
}

.cookies.inactive {
    display:none!important;
}