@font-face {
    font-family: 'nunito_sansregular';
    src: url('../fonts/Nunito/nunitosans-regular-webfont.woff2') format('woff2'),
         url('../fonts/Nunito/nunitosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunito_sansbold';
    src: url('../fonts/Nunito/nunitosans-bold-webfont.woff2') format('woff2'),
         url('../fonts/Nunito/nunitosans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunito_sansblack';
    src: url('../fonts/Nunito/nunitosans-black-webfont.woff2') format('woff2'),
         url('../fonts/Nunito/nunitosans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunito_sansextrabold';
    src: url('../fonts/Nunito/nunitosans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/Nunito/nunitosans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nunito_sanslight';
    src: url('../fonts/Nunito/nunitosans-light-webfont.woff2') format('woff2'),
         url('../fonts/Nunito/nunitosans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunito_sansextralight';
    src: url('../fonts/Nunito/nunitosans-extralight-webfont.woff2') format('woff2'),
         url('../fonts/Nunito/nunitosans-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

