// regulat 
@font-face {
    font-family: 'nunito_sansregular';
    src: url('../fonts/Nunito/nunitosans-regular-webfont.woff2') format('woff2'),
         url('../fonts/Nunito/nunitosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// bold 
@font-face {
    font-family: 'nunito_sansbold';
    src: url('../fonts/Nunito/nunitosans-bold-webfont.woff2') format('woff2'),
         url('../fonts/Nunito/nunitosans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// black
@font-face {
    font-family: 'nunito_sansblack';
    src: url('../fonts/Nunito/nunitosans-black-webfont.woff2') format('woff2'),
         url('../fonts/Nunito/nunitosans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// extra bold 
@font-face {
    font-family: 'nunito_sansextrabold';
    src: url('../fonts/Nunito/nunitosans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/Nunito/nunitosans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// light 
@font-face {
    font-family: 'nunito_sanslight';
    src: url('../fonts/Nunito/nunitosans-light-webfont.woff2') format('woff2'),
         url('../fonts/Nunito/nunitosans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// extra light 
@font-face {
    font-family: 'nunito_sansextralight';
    src: url('../fonts/Nunito/nunitosans-extralight-webfont.woff2') format('woff2'),
         url('../fonts/Nunito/nunitosans-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-10 {
    @include font-size(10px);
}

.font-12 {
    @include font-size(12px);
}

.font-13 {
    @include font-size(13px);
}

.font-14 {
    @include font-size(14px);
}

.font-15 {
    @include font-size(15px);
}

.font-16 {
    @include font-size(16px);
}

.font-17 {
    @include font-size(17px);
}

.font-18 {
    @include font-size(18px);
}

.font-19 {
    @include font-size(19px);
}

.font-20 {
    @include font-size(20px);
}

.font-23 {
    @include font-size(23px);
}


.font-24 {
    @include font-size(25px);
}

.icon-pink {
    color:$pink;
}

.icon-location:before, .icon-phone:before, .icon-mail:before {
    margin:0px;
}

// line height 

.lh-17 {
    @include line-height(1.7);
}

.lh-18 {
    @include line-height(1.8);
}

.lh-19 {
    @include line-height(1.9);
}

.lh-2 {
    @include line-height(2);
}


@media all and (max-width:576px) {
    // main title 
    .main-title-sm {
        @include font-size(25px);
    }

    // main title 
    .sub-title-sm {
        @include font-size(17px);
    }

    // line height
    
    .lh-xs-17 {
        @include line-height(1.7);
    }
}