/** contact, inscription forms **/

.form-control {
  border:1px solid #9D9D9D!important;
}

.form-large {
  height:40px;
}

// is invalid 
.was-validated .form-control:invalid, .form-control.is-invalid {
  border: 2px solid rgb(255, 145, 39) !important;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url(); 
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
  // border-color: rgb(220, 53, 69);
  border: 2px solid rgb(255, 145, 39) !important;
  // box-shadow: rgba(220, 53, 69, 0.25) 0px 0px 0px 0.2rem;
  box-shadow: rgba(255, 157, 65, 0.25) 0px 0px 0px 0.2rem !important;
}

// max width 
.contact-form {
    @include media-breakpoint-up(xs) { 
        @include max-width(100%);
    }
    @include media-breakpoint-up(lg) { 
        @include max-width(85%);
    }
}
// form-control style 
.form-control-1 {
    border:0px!important;
    border-bottom:1px solid #9D9D9D!important;
    border-radius:0px!important;
    padding: 0px 0px 10px 0px;
}
// checkbox label
.form-check label{
    color:#9d9d9d!important;
}


/** signin form **/ 

#country-select {
    border:1px solid #9d9d9d!important;
    border-radius:5px;
    padding:2px 5px 2px 5px;
}


/** custom select **/

  // connexion + signin form

/* The container must be positioned relative: */
.custom-selects {
    position: relative;
    width:105px;
  }
  
  .custom-selects select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected, .select-selected-large {
    background-color: white;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after, .select-selected-large:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: black transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after, .select-selected-large.select-arrow-active:after {
    border-color: transparent transparent black transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-selected, .select-selected-large {
    color: black;
    font-size:13px;
    padding: 5px 10px;
    border:1px solid #9d9d9d!important;
    border-radius:10px;
    cursor: pointer;
    font-family: $sbold!important;
  }
  
  /* Style items (options): */
  .select-items, .select-items-large {
    position: absolute;
    background-color:white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

  .select-items div  {
    color: black;
    cursor: pointer;
    font-size:13px;
    padding: 5px 10px;
    background:#F5F5F5;
    border:0px!important;
    font-family: $sbold!important;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected, .select-items-large div:hover {
    background-color: rgba(250, 216, 216, 0.1);
  }

  // connexion form
  .select-selected-large {
    padding: 7px 15px;
    border-radius: 5px;
    font-size:14px;
    min-width: 120px;
  }
 
  .select-items-large div  {
    color: black;
    font-size:14px;
    cursor: pointer;
    min-width: 120px!important;
    padding: 7px 15px;
    background:#F5F5F5;
    border:0px!important;
    font-family: $sbold!important;
    min-width: 120px!important;
  }

  
  