/* payment page */

// logo top payment page 
.icon-single {
    max-height:20px;
 }
// logo bottom payment page 
.logo-single {
    max-height: 15px !important;
}
.logo-check-single {
    max-height: 14px !important;
    max-width: 20px !important;
}
.know-more-icon {
    position: relative;
    top: 3px;
}