// custom orange radio 

/* Hide the browser's default radio button */
.form-check.form-check-inline input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 18px;
    width: 18px;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border: 0.12em solid #c3c3c3;
    border-radius: 50%;
    cursor:pointer;
  }
  
  /* On mouse-over, add a grey background color */
  .form-check.form-check-inline:hover input ~ .checkmark {
    background-color: #eee;
  }
  
  /* When the radio button is checked, add a white background */
  .form-check.form-check-inline input:checked ~ .checkmark {
    background-color: white;
    border: 0.14em solid orange;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .form-check.form-check-inline input:checked ~ .checkmark:after {
    display: block;

    & > .pay-choice {
      display:none;
    }
  }
  
  /* Style the indicator (dot/circle) */
  .form-check.form-check-inline .checkmark:after {
    top: 6px;
    left: 4px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: orange;
  }

  /* radio on payment page */
  .form-check.form-check-inline .form-check-input__pay.checkmark:after {
    top: 4px;
  }