// text decoration
a {
    text-decoration:none!important;
}
// link color
.link-black {
   @include link-color($simply-black);
}
// link color
.link-orange {
    @include link-color($orange-link);
}
// strong pink 
.strong-pink {
    font-weight:bold;
    @include link-color($pink);
}
// hover 
a:hover {
    @include link-color($orange-link);
}
.hover-no-change:hover {
    @include link-color($simply-black);
}
// active link 
.activated {
    @include link-color($orange-link);
    &-border-bottom {
        opacity:1!important;
        background: linear-gradient(to right, $border-bottom-1, $border-bottom-2);
    }
}