/* general */
.modal {
    border-radius:50px!important;
    /* header */
    &-header {
        border:0px!important;
        & div:first-child {
            width:100%;
        }
        & .close {
            padding:0px!important;
            margin:0px!important;
            &:active {
                border:0px!important;
                box-shadow:0px!important;
            }
        }
    }
    /* content */
    &-content {
        background:url('../img/background.jpg');background-size:cover;
    }
    /* body */
    &-body {
        width:100%;
        background:transparent;
    }
    /* modal left */
    &-left {
        @media (max-width:576px) {
            padding-bottom:50px!important;
            padding-top:50px!important;
        }
        @include media-breakpoint-up(xs) { 
            padding-bottom:50px!important;
            padding-top:50px!important;
        }
        @include media-breakpoint-up(lg) { 
            padding-bottom:50px!important;
            padding-top:20px!important;
        }

        & .form-group, & .pull-left, & .form-submit {
            background:transparent!important;  
        }
    }

    &-right {
        @media (max-width:576px) {
            padding-bottom:20vh!important;
            padding-top:50px!important;
        }
        @include media-breakpoint-up(xs) { 
            padding-bottom:20vh!important;
            padding-top:50px!important;
        }
        @include media-breakpoint-up(lg) { 
            padding-bottom:120px!important;
            padding-top:50px!important;
        }
    }

    .no-connect {
        width:100%;
        text-align:center;
    
        & a {
            color:$button-2!important;
            &:hover {
                color:$button-1!important
            }
        }
    }
}

.modal-connect.modal-lg, .modal-connect.modal-xl {
    max-width:500px!important;
}









