.table th, .table td {
    border-top:0px!important;
    border-bottom:1px solid #9d9d9d!important;
}

.table th {
    padding:0px;
    padding-bottom:0.50rem;
    font-size:13px;
    font-family:$bold;
}

.table td {
    padding:0px;
    padding-bottom:1.5rem;
    padding-top:1.5rem;
    font-size:13px;
}

/* cart */
.table-cart-top {
    min-width:1030px!important;
}

.table-cart-top td {
    
    &:last-child {
        padding:0px;
        color:$pink;
        & i {
            position:relative;
            top:15px;
        }
    }

    & img {
        max-width:50px;
    }
}

.table.table-cart-bottom th, .table.table-cart-bottom td  {
    border:0px!important;
    padding:0px;
    padding-top:5px;
    padding-bottom:5px;

    &:last-child {
        text-align:right;
    }
}

.width-100 {
    width:100px!important;
}

.td-produit {
    padding-top:13px!important;
    padding-bottom:10px!important;
}