/* Error: Top-level selectors may not contain the parent selector "&".
 *   ,
 * 1 | .main-content, & .previous, & .title, & .content {
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   assets/scss/pages/_product.scss 1:1  @import
 *   assets/scss/main.scss 25:9           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Top-level selectors may not contain the parent selector "&".\a   \2577 \a 1 \2502  .main-content, & .previous, & .title, & .content {\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   assets/scss/pages/_product.scss 1:1  @import\a   assets/scss/main.scss 25:9           root stylesheet';
}
