/* Error: Undefined variable.
 *    ,
 * 14 |     @include link-color($button-2s);
 *    |                         ^^^^^^^^^^
 *    '
 *   assets/scss/components/_link.scss 14:25  @import
 *   assets/scss/main.scss 21:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 14 \2502      @include link-color($button-2s);\a    \2502                          ^^^^^^^^^^\a    \2575 \a   assets/scss/components/_link.scss 14:25  @import\a   assets/scss/main.scss 21:9               root stylesheet";
}
