#slider {
    height:500px!important;
    // background:url('../img/placeholder.jpg');
    background-size:cover;
}

.icon-slider {
    font-size:30px;
    color:white!important;
}

.mx-mille {
    max-width:1050px!important;
}

.br-10 {
    border-radius:10px;
}

.chevron-right .icon-right-open:before,
.chevron-left .icon-left-open:before {
    margin:0px!important;
}

.chevron-right .icon-right-open {
    position: relative;
    left: 10px;
}

.chevron-left .icon-left-open {
    position: relative;
    left: -10px;
}

.btn-chevron {
    position:relative;
    top:-1px;
}

