// slider 
#slider {
    height:500px!important;
    background-size:cover;
}

.img-placeholder {
    min-height:100%;
    object-fit:cover;
    z-index:1;
    position:absolute;
}

.icon-slider {
    font-size:30px;
    color:white!important;
}

.slider-arrows {
    z-index:3;
    position:relative;
    height:100%;
}

.slider-control {
    height:170px;
    position:absolute;
    bottom:0px;
    width:100%;
    &-title {
        color:white;
        font-size:24px;
        text-align:center;
    }
    &-navs {
        height:45%;
        position:relative;
    }
   
}

.slider-navs {
    width:70px;
    height:auto;
    &__span {
        width:8px;
        height:8px;
        background:#A8A8A8;
        border-radius:20px;
        &.active {
            background:white!important;
        }
    }
}
// logos themes 
.logo-theme {
    max-width:195px;
}

// content 
.card-product {
    width:24%;
}

.mx-mille {
    max-width:1050px!important;
}

.br-10 {
    border-radius:10px;
}

.chevron-right .icon-right-open:before,
.chevron-left .icon-left-open:before {
    margin:0px!important;
}

.chevron-right .icon-right-open {
    position: relative;
    left: 10px;
}

.chevron-left .icon-left-open {
    position: relative;
    left: -10px;
}

.btn-chevron {
    position:relative;
    top:-1px;
}

@media (min-width:992px) and (max-width:1199px) {
    p, .button-orange.button-orange-cards {
        font-size:10px!important;
    }
}

// tablet 
@media (max-width:992px)
{ 
    // logos themes 
    .logo-theme {
        max-width:23%;
    }
    //content 
    .card-product {
        display:none;
    }
    // card product
    .card-product:nth-child(1),
    .card-product:nth-child(2)
    {
        width:48%;
        display:block;
    }
    .card-product:nth-child(3),
    .card-product:nth-child(4)
    {
        display:none;
    }
}

@media (max-width:768px)
{
    //content 
    .card-product:nth-child(2) {
        display:none;
    }
    .card-product:first-child {
        width:90%;
        display:block;
        margin:auto!important;
    }
    .chevron-right .icon-right-open {
        position: relative;
        left: 0px;
    }
    
    .chevron-left .icon-left-open {
        position: relative;
        left: 0px;
    }
}

// mobile 
@media (max-width:576px)
{
    // slider 
    .slider-control-title {
        font-size:20px;
    }
    .slider-control-navs {
        height:30%;
    }

    // logos themes 
    .logo-theme {
        max-width:48%;
    }
    .column-xs-reverse {
        flex-direction:column-reverse;
    }

    //content 
    .card-product:nth-child(2) {
        display:none;
    }
    .card-product:first-child {
        width:90%;
        display:block;
        margin:auto
    }
    .chevron-right .icon-right-open {
        position: relative;
        left: 0px;
    }
    
    .chevron-left .icon-left-open {
        position: relative;
        left: 0px;
    }
}