

// pay choice div
.pay-choice {
    border-radius:13px;
    border:1px solid #9D9D9D;
    & > div {
        background:transparent!important;
    }
}

// payment choice active 
.choice-selected {
    border: 1px solid rgb(255, 145, 39) !important;
    background:#FFF4EB!important;
}

