// card 
.primary-img-top {
    max-width:80%;
}

// icons 
.icon-cancel {
    color:red!important;
}

.icon-check {
    color:green!important;
}

.icon-check:before, .icon-cancel:before {
    margin-left:0px!important;
}

// buttons 
button.size {
    border:0px solid transparent!important;
    padding:7px 12px 7px 12px!important;
    border-radius:5px;
    background:#FFE4D8!important;
    &:nth-child(2) {
        padding:7px 10px 7px 10px!important;
    }
    &:last-child {
        padding:7px 8px 7px 8px!important;
    }
    &.active {
        background:linear-gradient(to bottom, $button-1, $button-2)!important;
        color:white!important;
    }
}
// radio 
.shopping.checkmark {
    height:12px;
    width:12px;
    border:0.12rem solid black;
    &.disabled {
        border:0.12rem solid #9d9d9d;
    }
}

label.disabled {
    color: #9d9d9d!important;
}

.form-check.form-check-inline .shopping.checkmark:after {
    top: 6px;
    left: 8px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: orange;
}

.form-check.form-check-inline input:checked ~ .shopping.checkmark,
.shopping.form-check-inline .form-check-input {
    margin-bottom:8px;
}

.form-check.form-check-inline input:checked ~ .shopping.checkmark {
    border:0.12em solid orange;
}

.shopping.form-check-inline .form-check-input {
    margin-left:5px;
}

.shopping.form-check-inline {
    margin-right: 0rem!important;
}

// quantity 
.shopping.quantity input {
    width:60px;
    height:30px;
    font-size:13px;
    color:#9d9d9d;
}

.shopping.quantity {
    & .quantity-button.quantity-up, 
    & .quantity-button.quantity-down
    {
        height:35.5%;
    }
    & .quantity-button.quantity-up {
        bottom:30%;
        border-top:1px solid #9d9d9d;
        border-left:1px solid #9d9d9d;
        border-right:1px solid #9d9d9d;
    }
    & .quantity-button.quantity-down {
        bottom:30%;
        border-top:1px solid #9d9d9d;
        border-left:1px solid #9d9d9d;
        border-right:1px solid #9d9d9d;
    }

    & .quantity-button {
        line-height:1rem;
    }
}

// button orange 
.shopping.button-orange {
    padding: 9px 25px 9px 25px;
}

.shipping-conditions {
    color:#9d9d9d!important;
}

// btn colors 
.dropdown-color {
    background: linear-gradient(to right, #FD9644, #FD6044)!important;
    border-color: transparent!important;
    color:white!important;
}

// color square 
.color-square {
    display:block;
    height:20px;
    width:20px;
    border:0.02rem solid #666666;
    &__orange {
        background:orange;
    }
    &__pink {
        background:pink;
    }
}

// share 
.share {
    position:absolute;
    top:-10px;
    font-size:20px;
    &-fb {
        color:#4867AA!important;
    }
    &-twi {
        color:#1CA2F3!important;
    }
    &-wha {
        color:#1DBEA5!important;
    }
    &-insta {
        color:#C437A4!important;
    }
}

// question 
.icon-question-circle-o {
    height:auto;
    width:auto;
    position:absolute;
    bottom:-9px;
    color:#FD9644;
    font-size:30px;
}

// table 
// .pricing-title {
//     margin-bottom:0px!important;
// }

.table.pricing {
    border:1px solid #9d9d9d !important;
    max-width:250px;
    & td, & th {
        border-left:1px solid #9d9d9d !important;
    }
}

@media (max-width:992px)
{
    .primary-img-top {
        margin-top:10px!important;
    }
}

@media (max-width:576px)
{
    .shopping.quantity input {
        height:31px!important;
    }

    .primary-img-top {
        margin-top:30px!important;
    }
}