// container 
.container-shop {
    position:relative;
}

/* aside */
aside {
    min-height:100%!important;
    position:fixed!important;
    left:0px;
}
// themes 
.themes-box {
    height:auto;
    box-shadow: 0px 0px 5px 0px rgba(214,214,214,0.7);
    margin-right:2px;
    & img {
        width:30px;
    }
}
// border colors 
.border-fun {
    padding-right:10px;
    &-green {
        background: linear-gradient(to top, #15A5BF, #2BCBBA);
    }
    &-orange {
        background: linear-gradient(to top, #FD6044, #FD9644);
    }
    &-purple {
        background: linear-gradient(to top, #C027CD, #7B28DD);
    }
    &-red {
        background: linear-gradient(to top, #FC5C65, #F8155B);
    }
    &__cat {
        background: #15A5BF;
        min-height:100%!important;
    }
    &__themes {
        background: #FD6044;
        min-height:100%!important;
    }
    &__location {
        background: #C027CD;
        min-height:100%!important;
    }
    &__event {
        background: #FC5C65;
        min-height:100%!important;
    }
}

// themes animation 
.search-clik-open {
    max-height:130px!important;
    overflow-y:scroll!important;
    height:0px;
    // height:auto;
    & ul li{
        list-style-type:none;
    }
}

.search-clik-open.active {
    height:auto!important;
}

// search and search filters 
.search-box {
    // max-height:450px;
    max-height:60vh!important;
    min-height:60vh!important;
    overflow-x:scroll;
    margin-right:2px;
}

.b-shadow-right {
    box-shadow: 0px 1px 5px -1px rgba(214,214,214,0.7)!important;
    min-height:100vh!important;
    margin-right:2px;
}

#basic-text1 {
    border:1px solid #9d9d9d;
    border-left:0px;
    height:30px!important;
}

#search-input1, #search-input2 {
    border-right:0px solid transparent!important;
    height:30px!important;
}
.stickers {
    padding:1px 10px 1px 10px!important;
    background:linear-gradient(to right, #FD9644, #FD6044);
    color:white;
    border-radius:20px;
    & i {
        color:black!important;
        color:black!important;font-weight:500;
    }
}



// btn pink
.btn.btn-cards-pink.btn-shop {
    padding:12px 35px 12px 35px !important;
}

// filters select 
.find-by {
    border:0px!important;
    width:130px;
}

.filters > .find-by,
.filters,
.filters-container  {
    width:100%!important;
}

.filters > .find-by {
    border:1px solid #9d9d9d!important;
    border-radius:5px!important;
    color:#9d9d9d;
    height: 30px!important;
    font-family: "nunito_sansregular" !important;
    font-size:12px!important;
}

.filters > .find-by:after {
    border-color: #9d9d9d transparent transparent transparent;
}

 /* Point the arrow upwards when the select box is open (active): */
.find-by.select-arrow-active:after, .filters > .find-by.select-arrow-active:after {
    border-color: transparent transparent #9d9d9d transparent;
    top: 7px;
  }

// checkbox
.checkbox-container {
    padding-left:25px;
    padding-bottom:0px;
}

.checkboxmark.custom {
    background:transparent!important;
    border-radius:2px;
    height:15px;
    width:15px;
    top:1px!important;
    &.news {
        border:2px solid #FC5C65!important;
    }
    &.promos {
        border:2px solid #5F27CD!important;
    }
    &.borrows {
        border:2px solid #FD9644!important;
    }
    &.occasion {
        border:2px solid #2BCBBA!important;
    }
}

.checkbox-container input:checked ~ .checkboxmark {
    &.custom.news {
        background-color: #FC5C65!important;
    }
    &.custom.promos {
        background-color: #5F27CD!important;
    } 
    &.custom.borrows {
        background-color: #FD9644!important;
    }  
    &.custom.occasion {
        background-color: #2BCBBA!important;
    }   
}

/* Style the checkmark/indicator */
.checkbox-container .checkboxmark:after {
    left: 3px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

// cards 
.icon-left-open.shop-icon {
    left:0px!important;
}

.text-line-through {
    text-decoration:line-through!important;
}

footer {
    height:auto;
    width:100%;
}

#aside-responsive {
    position:relative!important;
    height:auto!important;
    min-height: auto!important;
    & .b-shadow-right, & .search-box {
        min-height:auto!important;
    }
}

@media (max-width:576px)
{
    .card-product.first-child {
        position:relative!important;
        width:100%!important
    }
}