// btn pink
.btn.btn-cards-pink.btn-shop {
    padding:12px 35px 12px 35px !important;
}

// filters select 
.find-by {
    border:0px!important;
    width:130px;
}

.filters > .find-by,
.filters,
.filters-container  {
    width:100%!important;
}

.filters > .find-by {
    border:1px solid #9d9d9d!important;
    border-radius:5px!important;
    color:#9d9d9d;
    height: 30px!important;
    font-family: "nunito_sansregular" !important;
    font-size:12px!important;
}

.filters > .find-by:after {
    border-color: #9d9d9d transparent transparent transparent;
}

 /* Point the arrow upwards when the select box is open (active): */
.find-by.select-arrow-active:after, .filters > .find-by.select-arrow-active:after {
    border-color: transparent transparent #9d9d9d transparent;
    top: 7px;
  }

// cookies 
.cookies {
    position:fixed;
    left:0px;
    bottom:0px;
    z-index:9999;
    border-top-right-radius:5px;
    // provisoire
    display:none;
}

// checkbox
.checkboxmark.custom {
    background:transparent!important;
    border-radius:2px;
    height:15px;
    width:15px;
    &.news {
        border:2px solid #FC5C65!important;
    }
    &.promos {
        border:2px solid #5F27CD!important;
    }
    &.borrow {
        border:2px solid #FD9644!important;
    }
    &.occasion {
        border:2px solid #2BCBBA!important;
    }
}

.checkbox-container {
    padding-left:25px;
    padding-bottom:0px;
}


@media (max-width:778px)
{
    // aside {
    //     z-index:9999;
    //     background:red;
    //     min-width:100%!important;
    //     height:300px;
    // }
   
}