// content 
.shipping-title {
    border:1px solid $border-bottom-2;
    border-radius:15px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}

.shipping-content {
    border:1px solid $border-bottom-2;
    border-top:0px solid $border-bottom-2;
    border-radius:15px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}

// shipping method choice 
.payment-choice.shipping-choice  {
    height:50px;
    border-radius:5px;
    border:1px solid #9D9D9D!important;
    & img { 
        width:130px;
        height:30px;
        display:block;
        margin:auto;
    }
    &.choice-selected {
        border: 2px solid rgb(255, 145, 39) !important;
        background:transparent!important;
    }
}
/* search zone */

#big-logo-relais {
    width:80px;
}

#flag {
    width:20px!important;
}

#logo-target {
    width:40px;
}

.search {
    min-width:200px!important;
    padding:17px!important;
}