//simple
$simply-black: #000;
$border-nav : #E6E6E6;
$orange-link:#FF9127;
$light-grey:#9D9D9D;

// linear gradient
$border-bottom-1 : #FD8C44;
$border-bottom-2 : #FD6044;

// rgba 
$border-nav-transparent : rgba(230, 230, 230, 0.4);
$simply-black-transparent : rgba(0, 0, 0, 0.1);
$box-shadow-1 : rgba(234,237,244,1);
$box-shadow-2 : rgba(220,220,220,0.5);