$regular: 'nunito_sansregular'; 
$light : 'nunito_sanslight'; 
$x-light: 'nunito_sansextralight';
$black : 'nunito_sansblack';
$bold : 'nunito_sansbold';
$sbold : 'nunito_sanssemibold';
$x-bold : 'nunito_sansextrabold'; 