// font color 
@mixin font-color($color) {
    font-size: $color;
}
// font size 
@mixin font-size($size) {
    font-size: $size;
}
// font family 
@mixin font-style($font) {
    font-family: $font, sans-serif;
}

@mixin line-height($height) {
    line-height : $height;
}