// transition
@mixin transition($time) {
    transition:$time ease-in-out!important;
}
// overflow 
@mixin overflow($overflow) {
    overflow:$overflow!important;
}
// max width 
@mixin max-width($width) {
    max-width:$width!important;
}
// borders 
@mixin border($size, $style, $color) {
    border: $size $style $color!important;
}
// border-radius
@mixin border-radius($size) {
    border-radius:$size!important;
}